<!DOCTYPE html>
<html lang="en" ng-app="bstm">
<head>
  <meta charset="UTF-8">
  <title>Beat Saber Tap Maker</title>
  <script src="./index.js"></script>
</head>

<body ng-controller="MainController as vm" ng-keypress="vm.onKeypress($event)">
  <div class="container">
    <h1 class="h24 bm-16">Beat Saber Tap Maker</h1>
    <button ng-click="vm.startListening()">Start</button>
    <button ng-click="vm.stopListener()">Stop</button>
    <input type="number" ng-model="vm.bpm">
    <textarea ng-model="vm.notesJson"></textarea>
  </div>
</body>
</html>